body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #fff;
    color: #202124;
    font-family: 'Google Sans, arial, sans-serif';
    font-weight: 600;
}

a {
    text-decoration: none;
}

.google-header {
    padding-top: 20px;
}

.navbar {
    padding: 10px 15px;
}

.navbar-toggler {
    border: none;
}

.offcanvas {
    flex-direction: row;
}

.navbar-brand img {
    width: 120px;
}


.dropdown button {
    border: transparent;
    background: transparent;
    color: #202124;
    font-family: 'Google Sans, arial, sans-serif';
    font-weight: 500;
    margin-right: 20px;
}

.registration {
    display: flex;
    gap: 20px;
    position: relative;
    bottom: 9px;
}


/* Register */

.register {
    color: #202124;
}

/* Login */
.modal-header {
    background-color: rgb(255 187 1);
    border-bottom: 2px solid #202124;
}

.modal-content {
    border: 2px solid #202124;
}

.modal-body {
    padding-top: 20px;
}

.registration .login {
    border: none;
    background: transparent;
    color: blue;
}

.google-container {
    padding: 20px 25px;
}

/* Google i/o */
.group-let-go-io {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

/* Google Pattern */
.google-pattern {
    width: 70%;
    border: 1px solid #202124;
    border-radius: 15px;
    padding: 10px;
}

.pattern-image {
    width: 100%;
    border: 1px solid #202124;
    border-radius: 15px;
    margin-bottom: 20px;
}

.pattern-image img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
}

.timer-column {
    background: #e8eaed;
    border: 2px solid #202124;
    border-radius: 8px;
}

/* Let go */
.let-go-pattern {
    width: 30%;
}

.let-go {
    width: 100%;
    height: 100%;
    background-color: rgb(32 33 36);
    border-radius: 15px;
    padding: 60px 20px;
}

.let-go h2 {
    font-size: 36px;
    color: rgb(255 255 255);
}

.let-go p {
    font-size: 18px;
    color: rgb(255 255 255);
}

.let-go button {
    color: #202124;
}

.io-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(255 187 1);
    text-align: center;
    padding: 60px 20px;
}

.io-image img {
    width: 100%;
    border-radius: 15px;
}

/* goggle-connect */
.goggle-connect {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Connect */
.connect {
    width: 70%;
    background-color: rgb(32 33 36);
    padding: 20px 20px;
    border-radius: 15px;
}

.connect h2 {
    font-size: 36px;
    color: rgb(232 234 237);
}

.connect p {
    color: rgb(232 234 237);
    font-size: 15px;
}

.connect button {
    margin-top: 20px;
    border: 2px solid rgb(232 234 237);
    color: rgb(232 234 237);
    border-radius: 10px;
    background: transparent;
}

.connect a {
    color: rgb(232 234 237);
}

.connect img {
    width: 100%;
    height: 220px;
}

.online {
    width: 30%;
    background-color: rgb(66 142 255);
    border: 2px solid #202124;
    border-radius: 15px;
    padding: 20px 20px;
}

.online h2 {
    font-size: 36px;
    color: #202124;
}

.online p {
    font-size: 15px;
    color: #202124;
}

.online button {
    margin-top: 20px;
    border: 2px solid rgb(32 33 36);
    color: rgb(32 33 36);
    border-radius: 10px;
    background: transparent;
}

.online a {
    color: rgb(32 33 36);
}

/* Footer */
.google-footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #e8eaed;
    gap: 20px;
    background: #202124;
    padding: 50px 25px;
}

.google-footer a {
    color: #e8eaed;
}

.privacy {
    display: flex;
    gap: 30px;
}

.footer-head {
    font-size: 25px;

}

.dropdown-border {
    border-bottom: 1px solid #e8eaed;
    padding-bottom: 10px;
}

.dropdown-menu a {
    color: #202124;
}

.social-link {
    gap: 30px;
}

@media all and (max-width: 991px) {
    .offcanvas {
        flex-direction: column;
    }

    body {
        padding: 10px 0;
    }

    nav {
        border-bottom: 2px solid #202124;
    }

    .navbar-nav {
        padding-left: 20px
    }

    .dropdown button {
        padding-left: 20px;
        bottom: -50px;
    }

    .dropdown-menu {
        margin-left: 20px;
    }

    .registration {
        padding-right: 20px;
    }

    .group-let-go-io {
        flex-direction: column-reverse;
    }

    .google-pattern {
        width: 100%;
    }

    .let-go-pattern {
        width: 100%;
    }

    .goggle-connect {
        flex-direction: column;
    }

    .connect {
        width: 100%;
    }

    .online {
        width: 100%;
    }

    .google-footer {
        display: block;
        text-align: left;
    }

    .privacy {
        display: block;
    }

    .footer-head {
        margin-bottom: 25px;
    }

    .social-link {
        padding-top: 20px;
    }

}

@media all and (max-width: 771px) {
    .registration button {
        display: none;
    }
}